* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: antiquewhite;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  color: #888;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.search-box {
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 1rem;
  transition: 0.4s;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
  transition: 0.4s;
}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2s);
  transform: translateY(-5px);
}

.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  transition: 0.4s;
}

.result:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2s);
}

.result h3 {
  color: #888;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.one-result {
  margin-bottom: 3rem;
}
.one h3 {
  color: rgb(54, 53, 53);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.result p {
  color: #313131;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.result p .searchmatch {
  font-weight: 700;
}
.result a {
  display: inline-block;
  padding: 12px 16px;
  background-color: #a84fff;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: 0.4s;
}

.result a:hover {
  background-color: blue;
}
.suggestions {
  cursor: pointer;
}
.suggestions:hover {
  background-color: grey;
}

.delete {
  padding: 12px 16px;
  background-color: red;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: 0.4s;
  margin-left: 1rem;
  cursor: pointer;
}
